@import "./styles/reset",
        "./styles/vendor",
        "./styles/mixins",
        "./styles/animations",
        "./styles/fonts",
        "./styles/variables",
        "./components/components",
        "./containers/containers";

* {
  box-sizing : border-box;
}

#root {
  width  : 100vw;
  height : 100vh;
}

.page_container {
  display   : flex;
  width     : 100%;
  height    : 100%;
  overflow  : hidden;
  flex-flow : column nowrap;
}
